@model SiteBiblioteca.Models.Livro // Define o modelo a ser usado na view

<div class="livro-detalhes">
    <!-- Logo da biblioteca -->
    <div class="logo">
        <img src="~/img/logo.png" onclick="window.location.href='/'" alt="Logo da Biblioteca" />
    </div>

    <!-- Informação principal -->
    <div class="livro-info">
        <h1>@Model.titulo</h1>
        <div class="livro-capa">
            <img src="~/img/@Model.imagem" alt="Capa do Livro: @Model.titulo" />
        </div>

        <!-- Características -->
        <div class="livro-caracteristicas">
            <h2>Características:</h2>
            <p>@Model.sinopse</p>
            <ul>
                <li><strong>Autor:</strong> <button>@Model.autor?.Nome</button></li>
                <li><strong>Gênero:</strong> @Model.genero</li>
                <li><strong>Preço:</strong> @String.Format("{0:C}", Model.preco)</li>
                <li><strong>Número de Exemplares:</strong> @Model.numExemplares</li>
                <li><strong>ISBN:</strong> @Model.ISBN</li>
            </ul>

            <!-- Botão para requisitar -->
            @if (Model.numExemplares > 0)
            {
                <button class="btn-requisitar">Requisitar</button>
            }
            else
            {
                <span class="fora-de-stock">Fora de stock!</span>
            }
        </div>
    </div>
</div>
